* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #1f2937;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  .btnAdote {
    background-color: #f97415;
    color: #ffffff;
    //1ª Opção de mexer no tamanho do botão width/height:
    // width: 8%;
    // height: 5vh;
    font-size: 1.25rem;
    border-radius: 10px;
    font-weight: 700;
    border: none;

    //2ª Opção de mexer no tamanho do botão padding:
    padding: 20px;
  }
}

.banner {
//  background-color: pink ;
  height: 70vh;
  padding: 1rem;
}

article {
  border: solid 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#nomeDoPet {
  color: #f97415;
  font-weight: 700;
  font-size: 3.75rem;
}

//Galeria de imagens , imagens circulares

.galeria {
  display: flex;
  justify-content: space-around;
}

.pet {
  border: solid green;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;

  .descricao,
  .nome {
   display: none;
  }
}

.imgPet {
  width: 50%;
  height: 20vh;
  border-radius: 100%;
}
